@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    background: #4948FF;
}

header {
    width: 100%;
    margin-bottom: 64px;
    padding: 16px 0;
}

h1 {
    font-family: 'Montserrat', 'Roboto', 'Helvetica Neue', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 28px;
    font-style: italic;
    width: 100%;
    text-align: center;
}

main {
    height: 100%;
}

.wrapper.wide {
    max-width: 588px;
    padding: 0 8px;
}

.wrapper.narrow {
    max-width: 528px;
    padding: 0 8px;
    text-align: left;
}

.col.left {
    margin-right: 32px;
}

.col.right {
    padding-top: 64px;
    margin-left: -5px;
}

.match {
    width: 208px;
    height: 112px;
    display: block;
    position: relative;
    margin-bottom: 16px;
    background: #FFFFFF;
    border-radius: 16px;
    z-index: 5;
}

/* TREE LAYOUT */

.match::after {
    position: absolute;
    display: block;
    left: 100%;
    z-index: 0;
}

.match.up::after,
.match.down::after {
    width: 16px;
    height: 72px;
}

.match.up.long::after,
.match.down.long::after { height: 199px; }

.match.up.right::after { height: 40px; }

.match.right.up::after, 
.match.right.down::after { width: 32px; }

.match.right.med::after { width: 97px; }
.match.right.long::after { width: 160px; }

.match.up::after { bottom: 50%; }
.match.down::after { top: 50%; }

.match.up::after { content: url('../img/up.svg'); }
.match.down::after { content: url('../img/down.svg'); }
.match.up.long::after { content: url('../img/up-long.svg'); }
.match.up.right::after { content: url('../img/up-right.svg'); }
.match.up.right::after { content: url('../img/up-right.svg'); }
.match.down.long::after { content: url('../img/down-long.svg'); }
.match.down.right::after { content: url('../img/down-right.svg'); }
.match.up.right.med::after { content: url('../img/up-right-med.svg'); }
.match.up.right.long::after { content: url('../img/up-right-long.svg'); }

.match.1 { margin-left: 0; }

.match.d2 { margin-left: 64px; }

.match.d3 { margin-left: 128px; }

/* match CONTENTS */

.match { padding-top: 6px; }

.match h4,
.match input {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    display: block;
    margin: 0;
    width: 100%;
}

.match h4 { 
    padding: 5px 16px; 
    color: #E5E5E5;
}

.match h4.win { color: #4948FF; }
/*
.match.final h4.win { color: #FEDC2C; }
*/

.match input { 
    padding: 16px; 
    color: #414141;
}

.match .awards { 
    padding: 0 16px; 
    min-height: 16px;
    overflow: hidden;
}

.match hr { 
    border-color: #ECECEC; 
    margin: 8px 0;
}

.match.final {
    border: 3px solid #FEDC2C;
}

.match.input hr { margin: 0; }

.match .awards:last-child {
    border-bottom: none;
}

.awards span {
    height: 12px;
    width: 12px;
    display: inline-block;
    background-color: #E5E5E5;
}

.awards.win span {
    background-color: #4948FF;
}

/*
.match.final .awards.win span {
    background-color: #FEDC2C;
}
*/

span.oscar { 
    mask-image: url('../img/oscars.svg'); 
    -webkit-mask-image: url('../img/oscars.svg'); 
    margin-right: -5px;
}
span.globe { mask-image: url('../img/globe.svg'); -webkit-mask-image: url('../img/globe.svg'); }
