@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

header {
    width: 100%;
    background: #FFD961;
    margin-bottom: 64px;
}

h1 {
    font-family: 'Montserrat', 'Roboto', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-style: italic;
    width: 100%;
}

main {
    height: 100%;
}

.wrapper.wide {
    max-width: 576px;
}

.wrapper.narrow {
    max-width: 512px;
    text-align: left;
}

.col.left {
    margin-right: 32px;
}

.col.right {
    padding-top: 64px;
    margin-left: -5px;
}

.round {
    width: 208px;
    height: 112px;
    display: block;
    position: relative;
    margin-bottom: 16px;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.1);
    border-radius: 16px;
    z-index: 5;
}

/* TREE LAYOUT */

.round::after {
    position: absolute;
    display: block;
    left: 100%;
    z-index: 0;
}

.round.up::after,
.round.down::after {
    width: 16px;
    height: 72px;
}

.round.up.long::after,
.round.down.long::after { height: 199px; }

.round.up.right::after { height: 40px; }

.round.right.up::after, 
.round.right.down::after { width: 32px; }

.round.right.med::after { width: 97px; }
.round.right.long::after { width: 160px; }

.round.up::after { bottom: 50%; }
.round.down::after { top: 50%; }

.round.up::after { content: url('../img/up.svg'); }
.round.down::after { content: url('../img/down.svg'); }
.round.up.long::after { content: url('../img/up-long.svg'); }
.round.up.right::after { content: url('../img/up-right.svg'); }
.round.up.right::after { content: url('../img/up-right.svg'); }
.round.down.long::after { content: url('../img/down-long.svg'); }
.round.down.right::after { content: url('../img/down-right.svg'); }
.round.up.right.med::after { content: url('../img/up-right-med.svg'); }
.round.up.right.long::after { content: url('../img/up-right-long.svg'); }

.round.first { margin-left: 0; }

.round.second { margin-left: 64px; }

.round.third { margin-left: 128px; }

/* ROUND CONTENTS */

.round { padding-top: 6px; }

.round h4,
.round input {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    color: #414141;
    display: block;
    margin: 0;
    width: 100%;
}

.round h4 { padding: 5px 16px; }

.round input { padding: 16px; }

.round .awards { padding: 0 16px; }

.round hr { 
    border-color: #ECECEC; 
    margin: 8px 0;
}

.round.input hr { margin: 0; }

.round .awards:last-child {
    border-bottom: none;
}

.awards span {
    height: 12px;
    width: 12px;
    display: inline-block;
}

span.cannes { background: url('../img/cannes.svg'); }
span.globes { background }
