<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Bracket</title>
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/style.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="static/js/bracket.js"></script>
</head>
<body>
    <header>
        <div class="wrapper narrow">
            <h1>Movie Bracket</h1>
        </div>
    </header>
    <div id="settings"> 
        <div id="preferences"></div>
        <div id="database">
            
        </div>
    </div> 
    <main>
        <div class="wrapper wide">
            <div class="col left">
                <div class="match input">
                    <input type="text" placeholder="The Royal Tennenbaums">
                    <hr/> 
                    <input type="text" placeholder="Moonrise Kingdom">
                </div> 
                <div class="match input">
                    <input type="text" placeholder="Titanic">
                    <hr/> 
                    <input type="text" placeholder="The Ring">
                </div> 
                <div class="match input">
                    <input type="text" placeholder="Avatar">
                    <hr/> 
                    <input type="text" placeholder="The Departed">
                </div> 
                <div class="match input">
                    <input type="text" placeholder="Crazy Rich Asians">
                    <hr/> 
                    <input type="text" placeholder="Schindler's List">
                </div> 
            </div>
            <div class="col right">
                Insert movies to the left and hit Enter! <br><br>
                Reload the page to start over again!
            </div>
        </div> 
    </main> 
</body>
</html>
