<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Bracket</title>
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header>
        <div class="wrapper narrow">
            <h1>Movie Bracket</h1>
            <a class="back" href="">Home</a>
            <a class="forth" href="">Settings</a>
        </div>
    </header>
    <div id="settings"> 
        <div id="preferences"></div>
        <div id="database">
            
        </div>
    </div> 
    <main>
        <div class="wrapper wide">
            <div class="col left">
                <div class="round input down right">
                    <input type="text" placeholder="The Royal Tennenbaums">
                    <hr/> 
                    <input type="text"placeholder="Moonrise Kingdom">
                </div> 
                <div class="round input up right">
                    <input type="text" placeholder="The Royal Tennenbaums">
                    <hr/> 
                    <input type="text"placeholder="Moonrise Kingdom">
                </div> 
                <div class="round input up right med">
                    <input type="text" placeholder="The Royal Tennenbaums">
                    <hr/> 
                    <input type="text"placeholder="Moonrise Kingdom">
                </div> 
            </div>
            <div class="col right">
                <div class="round first down">
                    <h4>The Darjeeling Limited</h4>
                    <div class="awards">
                        <span class="cannes"></span>
                        <span class="cannes"></span>
                        <span class="cannes"></span>
                        <span class="cannes"></span>
                        <span class="cannes"></span>
                    </div>
                    <hr/> 
                    <h4>The Darjeeling Limited</h4>
                    <div class="awards">
                        <span class="cannes"></span>
                        <span class="cannes"></span>
                        <span class="cannes"></span>
                        <span class="cannes"></span>
                        <span class="cannes"></span>
                    </div>
                </div> 
                <div class="round input second">
                    <input type="text" placeholder="The Royal Tennenbaums">
                    <hr /> 
                    <input type="text"placeholder="Moonrise Kingdom">
                </div> 
            </div>
        </div> 
    </main> 
</body>
</html>
